.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 78px 370px 0 371px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px 108px 0 109px;
}

.u-section-1 .u-group-1 {
  width: 541px;
  min-height: 500px;
  background-image: linear-gradient(rgba(99,5,165,0.73), #2e005a);
  margin: 81px auto 0 289px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 500px;
  left: auto;
  right: 11px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 119px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 270px;
    margin-left: 252px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 8px;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 160px;
    margin-left: 180px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 70px;
    margin-left: 122px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 57px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}